[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Deluge BitTorrent
GenericName=GTK+ BitTorrent Client 
Comment=Download and share files via BitTorrent
Exec=deluge
Icon=deluge.png
Terminal=false
MimeType=application/x-bittorrent;
Categories=GNOME;Network;FileTransfer;P2P;